@define-color foreground #eee3d0;
@define-color background #111111;
@define-color border #333637;
@define-color ws-highlight #33ff33;
@define-color ws-urgent #ea6962;

@define-color red #ea6962;
@define-color orange #e78a4e;
@define-color yellow #d8a657;
@define-color blue #7daea3;
@define-color purple #d3869b;
@define-color green #00ff00;

/**
 * ______  ___  ______ 
 * | ___ \/ _ \ | ___ \
 * | |_/ / /_\ \| |_/ /
 * | ___ \  _  ||    / 
 * | |_/ / | | || |\ \ 
 * \____/\_| |_/\_| \_|
**/

* {
    font-family: Iosevka Nerd Font;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
	border-color: @border;
	border-width: 2px;
}

#waybar.topbar {
	border-style: none none solid none;
}

#waybar.bottombar {
	border-style: solid none none none;
}

/**
 *  _    _  ___________ _   __ ___________  ___  _____  _____ _____ 
 * | |  | ||  _  | ___ \ | / //  ___| ___ \/ _ \/  __ \|  ___/  ___|
 * | |  | || | | | |_/ / |/ / \ `--.| |_/ / /_\ \ /  \/| |__ \ `--. 
 * | |/\| || | | |    /|    \  `--. \  __/|  _  | |    |  __| `--. \
 * \  /\  /\ \_/ / |\ \| |\  \/\__/ / |   | | | | \__/\| |___/\__/ /
 *  \/  \/  \___/\_| \_\_| \_/\____/\_|   \_| |_/\____/\____/\____/ 
**/

#workspaces button {
	color: @foreground;
	margin-right: 2px;
}

#workspaces button.empty {
	color: @border;
}

#workspaces button.visible {
	border-style: solid none none none;
	border-width: 2px;
}

#workspaces button.active {
	border-style: none none solid none;
	border-color: #33ff33;
	border-width: 1px;
	border-radius: 0;
}

#workspaces button.urgent {
	border-style: none none solid none;
	border-color: @ws-urgent;
	border-radius: 0;
}

/**
 * ___  ______________ _   _ _      _____ _____ 
 * |  \/  |  _  |  _  \ | | | |    |  ___/  ___|
 * | .  . | | | | | | | | | | |    | |__ \ `--. 
 * | |\/| | | | | | | | | | | |    |  __| `--. \
 * | |  | \ \_/ / |/ /| |_| | |____| |___/\__/ /
 * \_|  |_/\___/|___/  \___/\_____/\____/\____/ 
**/

#backlight:hover,
#pulseaudio:hover,
#disk:hover,
#temperature:hover,
#mpris:hover,
#user:hover,
#custom-hiscore:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-quit:hover,
#custom-power:hover,
#network:hover,
#battery:hover,
#privacy:hover,
#tray:hover,
#clock:hover{
	border-style: none none solid none;
	border-width: 1px;
	border-radius: 0px;
	border-color: @ws-highlight;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#backlight-slider trough,
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 0px;
    background-color: black;
}
#backlight-slider highlight,
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 0px;
    background-color: @green;
}

#custom-sep {
	color: @border;
}
