/**
# COLOR LEGEND:

bg;         Bar Background
bg-alt;     Module Highlight
bg-module;  Module Background
bg-unox;    Unoccupied Tag Background
fg;         Bar Text
fg-alt;     Tag Text
urgent;     Urgent Tag
**/

@define-color bg #16181a;
@define-color bg-alt #2e3236;
@define-color bg-module #222428;
@define-color bg-unoc #202226;
@define-color fg #ffffff;
@define-color fg-alt #a3a3a3;
@define-color urgent #bf616a;

/* Global */
* {
  font-family: RobotoMono Nerd Fonts;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

/* Waybar */
window#waybar {
  background-color: @bg;
  color: red;
  transition-property: background-color;
  transition-duration: .5s;
}

/* River/tags */
#tags {
  background-color: @bg;
  margin-right: 4px;
}
#tags button {
  color: @bg-unoc;
}
#tags button.occupied {
  color: @bg-alt;
}
#tags button.focused {
  color: @fg-alt;
}
#tags button.urgent {
  color: @urgent;
}

/* Global Module Styles */
#clock,
#network,
#battery,
#wireplumber {
  background-color: @bg-module;
  color: @fg;
  padding-right: 6px;
}

/* Group 1 */
/* G1: Bot */
#clock {
  padding-right: 2px;
  padding-bottom: 4px;
  margin-bottom: 6px;
  border-bottom: 2px solid @bg-alt;
}

/* Group 2 */
#battery,
#network,
#wireplumber {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* G2: Bot */
#wireplumber {
  padding-right: 4px;
  border-bottom: 2px solid @bg-alt;
}
